<!doctype html>
<html>
<head>
<style type="text/css">
    body {background-color:black;color:blue-black;font-family:perpeta;background-image:url(crown.png);font-weight:very bold;}
	h1 {font-family:gabriola;}
 </style>
<title>My Angel
</title>
</head>
<body>
<h2>Classes I took this weird semester...</h2>
1. Calclus 2 <br />
2. The Art of Engineering <br />
3. Java <br />
4. Python <br />
5. Intro to Electrical Engineering <br />
6. Physics: Electricity, Magnetism and Optics <br />
<hr />
Uhm my favorite class this semester was probaby intro to EE because through it I learnt so much coo stuff.<br />
</body>
</html>